<script>

const links = document.querySelectorAll('a.link')
  
  links.forEach(link=>{
    if(link.attributes.href.value === window.location.pathname){
      link.classList.add("active")
    }
  })

</script>
</body>
</html>
