<%- include ("./partials/head.ejs") %>

<div class="create-blog content">
  <form>
    <label for="title">Blog Title: </label>
    <input type="text" name="title" id="title" />
    <div class="title error"></div>
    <label for="snippet">Blog Snippet: </label>
    <input type="text" name="snippet" id="snippet" />
    <div class="snippet error"></div>
    <label for="body">Blog Body: </label>
    <textarea name="body" id="body"></textarea>
    <div class="body error"></div>
    <button>Submit</button>
  </form>
</div>

<script>
  const form = document.querySelector("form");

  // error tags
  const titleError = document.querySelector(".title.error");
  const snippetError = document.querySelector(".snippet.error");
  const bodyError = document.querySelector(".body.error");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    titleError.textContent = "";
    snippetError.textContent = "";
    bodyError.textContent = "";

    const title = form.title.value;
    const snippet = form.snippet.value;
    const body = form.body.value;
    try {
      const res = await fetch("/blogs", {
        method: "POST",
        body: JSON.stringify({ title, snippet, body }),
        headers: { "Content-Type": "application/json" },
      });

      const data = await res.json();

      if (data.errors) {
        titleError.textContent = data.errors.title;
        snippetError.textContent = data.errors.snippet;
        bodyError.textContent = data.errors.body;
      }

      if (data.blog) {
        location.assign("/");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>

<%- include ("./partials/footer.ejs") %>
